body{
  color:blue;
  font-weight: initial;
  font-size: 150% ;
  font:200;
  background-color:blanchedalmond;
  padding-left:10%;
}

h1{
  color:crimson;
  font:bold;
 
}
h3{
  color:green;
  font:bold;
}

