body{
    color:blue;
    font-weight: initial;
    font-size: 150% ;
    font:200;
    background-color:rgb(104, 160, 206);
    padding-left:5%;
    padding-right:30% ;
  }
  table{
    padding-inline-end: 50%;
    padding-block:initial;
  }
  h1{
    color:crimson;
    font:bold;
  }
    h2{
        color:firebrick;
        font:bold;
}
  
  h3{
    color:green;
    font:bold;
}
  
  